## Django ##
pytz==2018.9
sqlparse==0.3.0
Django==2.2.10


## Django Envrion ##
django-environ==0.4.5


## Hash ##
argon2-cffi==19.1.0
cffi==1.12.2
pycparser==2.19


## DATABASE ##
psycopg2-binary==2.8